.home {
  text-align: center;
  padding: 20px;
}

.headline {
  font-size: 2em;
  margin-bottom: 20px;
  color: #f0ab7b;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}