
h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--color-primary);
}

.noFavoritesMessage,
.noRecipes {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  grid-column: 1 / -1;
}
